{{- /* Línea de datos de una entrada: fecha, tiempo de lectura, palabras.
       Datos tabulares en monoespaciada, como manda el DS. */ -}}
{{- $page := .page -}}
{{- $format := or $page.Site.Params.DateFormat "2006-01-02" -}}
<span class="vf-meta">
  <time datetime="{{ $page.Date.Format "2006-01-02" }}">{{ $page.Date | time.Format $format }}</time>
  {{- if $page.Site.Params.ShowReadingTime }}<span class="vf-meta__sep">·</span>{{ i18n "readingTime" (dict "Count" $page.ReadingTime) }}{{ end -}}
  {{- if $page.Site.Params.ShowWordCount }}<span class="vf-meta__sep">·</span>{{ i18n "words" (dict "Count" $page.WordCount) }}{{ end -}}
  {{- if and $page.Site.Params.ShowLastMod (gt $page.Lastmod.Unix $page.Date.Unix) -}}
    <span class="vf-meta__sep">·</span>{{ i18n "updated" }} <time datetime="{{ $page.Lastmod.Format "2006-01-02" }}">{{ $page.Lastmod | time.Format $format }}</time>
  {{- end -}}
</span>
